@import '~draft-js/dist/Draft.css';

.public-DraftEditor-content {
    font-family: "Helvetica Neue", Helvetica, "Arial Nova", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

.toolbar {
    display: flex;
    margin: 14px 0;
}

.toolbarGroup {
    display: flex;
    margin: 0 12px;
}

.toolbarGroup:first-of-type {
    margin-left: 0;
}

.toolbarGroup:last-of-type {
    margin-right: 0;
}

.toolbarButton {
    border: none;
    background: none;
    margin: 0 4px;
    padding: 0;
}

.toolbarButton:first-of-type {
    margin-left: 0;
}
