@import '~draft-js/dist/Draft.css';

.public-DraftEditor-content {
    font-family: "Helvetica Neue", Helvetica, "Arial Nova", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

.Toolbar-root {
    display: flex;
    margin: 14px 0;
}

.ToolbarGroup-root {
    display: flex;
}

.ToolbarGroup-root {
    margin: 0 12px;
}

.ToolbarGroup-root:first-of-type {
    margin-left: 0;
}

.ToolbarGroup-root:last-of-type {
    margin-right: 0;
}

.ToolbarButton-root {
    border: none;
    background: none;
    margin: 0 4px;
    padding: 0;
}

.ToolbarButton-root:first-of-type {
    margin-left: 0;
}
